<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.edu_gate">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchTutorAdmin"></activity>
        <activity
            android:name=".SearchWithFragments"
            android:theme="@style/MySearch" />
        <activity
            android:name=".RateDetailActivity"
            android:parentActivityName=".RateTutorActivity" />
        <activity android:name=".ViewYourProfileActivity" />
        <activity
            android:name=".ViewPendingActivity"
            android:parentActivityName=".AdminMainPageActivity" />
        <activity
            android:name=".ProfileDeleteActivity"
            android:parentActivityName=".AdminMainPageActivity" />
        <activity
            android:name=".PendingDetailActivity"
            android:parentActivityName=".ViewPendingActivity" />
        <activity
            android:name=".RateTutorActivity"
            android:label="Rate Tutors"
            android:parentActivityName=".AdminMainPageActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".AdminMainPageActivity" />
        <activity
            android:name=".AddNewAdminActivity"
            android:parentActivityName=".AdminMainPageActivity" />
        <activity android:name=".TutorSearchProfileActivity" />
        <activity
            android:name=".SignupEducationActivity"
            android:label="Educational Information"
            android:parentActivityName=".SignupPersonalActivity" />
        <activity
            android:name=".SignupPersonalActivity"
            android:label="Personal Information" />
        <activity
            android:name=".SignupEmailPasswordActivity"
            android:label="Sign Up"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot Password"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:parentActivityName=".StartupActivity" />
        <activity
            android:name=".StartupActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>