<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.edu_gate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RateDetailActivity"></activity>
        <activity android:name=".ViewYourProfileActivity"></activity>
        <activity android:name=".ViewPendingActivity"></activity>
        <activity android:name=".ProfileDeleteActivity" />
        <activity android:name=".PendingDetailActivity" />
        <activity
            android:name=".RateTutorActivity"
            android:label="Rate Tutors"
            android:parentActivityName=".AdminMainPageActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="Change Password" />
        <activity android:name=".AdminMainPageActivity" />
        <activity android:name=".AddNewAdminActivity" />

        <activity
            android:name=".TutorSearchProfile"
            android:parentActivityName=".SearchPageActivity" />
        <activity
            android:name=".TutorProfileActivity"
            android:label="Tutor Profile"
            android:parentActivityName=".StartupActivity" />
        <activity
            android:name=".SignupEducationActivity"
            android:label="Educational Information"
            android:parentActivityName=".SignupPersonalActivity" />
        <activity
            android:name=".SignupPersonalActivity"
            android:label="Personal Information" />
        <activity
            android:name=".SignupEmailPasswordActivity"
            android:label="Sign Up"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".SearchPageActivity"
            android:parentActivityName=".StartupActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot Password"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:parentActivityName=".StartupActivity" />
        <activity android:name=".StartupActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>